body {
    background-color: rgb(136, 100, 100);
}

.container {
    border: 2px solid yellowgreen;
    width: 40%;
    height: 400px;
    background-color: red;
}


/* pad bank styling */
.pads {
    width: 40%;
}

.pad {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 100px;
    width: 100px;
    border-radius: 5px;
}

.pad:hover {
    background-color: rgb(178, 178, 178);
}

.pad:active {
    background-color: rgb(46, 46, 46);
}